/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
}
.image {
  height: 100px;
  width: 100px;
  padding: 0px;
  margin: 8px;
  border-radius: 10px;
}
.name {
  color: #252627;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 600;
}
